@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import 'tailwindcss';
@import './styles/palette.css';
@import './styles/semantic.css';
@import './styles/base.css';
@import './styles/motion.css';
@import './styles/tailwind.css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *, .dark, .dark *));

html,
body {
  background-color: var(--ids-neutral-bg);
  color: var(--ids-neutral-text);
}

html {
  @apply m-0;
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
